SECRET_KEY=your-very-secret-key-change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

POSTGRES_DB=lmsdb
POSTGRES_USER=lmsuser
POSTGRES_PASSWORD=lmspassword
POSTGRES_HOST=db
POSTGRES_PORT=5432

STATIC_ROOT=/app/staticfiles
STATIC_URL=/static/

# Redis (cache + rate limiting)
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_CACHE_DB=0
REDIS_RATELIMIT_DB=1

# MongoDB (activity logs & analytics)
MONGO_USER=admin
MONGO_PASSWORD=password123
MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_DB=lms_analytics

# RabbitMQ (Celery message broker)
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=password123
CELERY_BROKER_URL=amqp://admin:password123@rabbitmq:5672//
CELERY_RESULT_BACKEND=redis://redis:6379/2
